@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

* {
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
}
html, body{
	margin: 0;
	min-height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #0A313C;
	
}
body, .columns .column {
	font-size: 18px;
}
h2, .nav, h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}
h2{
	color: #6E97A2;
	font-size: 3em;
	text-align: center;
	margin: 0;
	padding: 40px 20px;
}
.section[data-section="title"] {
	height: 90vh;
	min-height: 400px;
	width: 100%;
	background-image: url("../images/bighorns.jpg");
	background-size: cover;
	background-position: center center;
}
.nav {
	width: 815px;
	padding: 0px;
	height: 100px;
	background: #ffffff;
	box-shadow: 0px 0px 40px -3px rgba(0,0,0,0.4);
	border-radius: 8px;
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 40px;
}
.nav .logo, .nav .right, .nav .left{
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
.nav .logo {
	padding: 20px 0px;
}
.nav .logo img {
	height: 60px;
	width: 115px;
}
.nav .right, .nav .left {
	width: 350px;
	font-size: 0;
}
.nav .right {
	padding-left: 20px;
}
.nav .right a:last-child{
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.nav .left a:first-child{
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.nav .left {
	padding-right: 20px;
}
.nav a {
	height: 100px;
	display: inline-block;
	font-size: 18px;
	line-height: 100px; 
	width: calc(100% / 2);
	text-align: center;
	transition: all 0.2s;
}
.nav a:hover{
	background: #599577;
	color: #ffffff;
}
.section {
	position: relative;
}
.section.padded {
	padding: 0px 40px 40px 40px;
}
.section.full-padded {
	padding: 40px;
}
.section .wave-edge {
	position: absolute;
	width: calc(100%);
	height: 105px;
	top: -105px;
	left: 0px;
}
.section.highlight {
	background: #6E97A2;
}
.section.dark {
	background: #ecf0f1;
}
.section.black {
	background: #0A313C;
}
.section.highlight, .section.highlight h2, .section.black {
	color: #ffffff;
}
.section[data-section="services"] {
	
}
.columns h3 {
	font-size: 1.5em;
	text-align: center;
}
.columns {
	width: 100%;
}
.columns .column {
	width: calc(100% / 3);
	padding: 20px;
	display: inline-block;
	vertical-align: top;
}
.columns .column .icon {
	width: 100px;
	margin: 20px auto;
}
.columns .column .icon img {
	width: 100%;
}
.section[data-section="contact"] .contact {
	width: 500px;
	text-align: center;
	margin: 20px auto;
}
.section[data-section="contact"] .contact .method img {
	height: 40px;
	margin-top: 5px;
	vertical-align: top;
}
.section[data-section="contact"] .contact .method span {
	display: inline-block;
	font-size: 1.5em;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
	vertical-align: top;
}
.section[data-section="about"] p {
	width: calc(50%);
	margin: 0px auto;
	text-align: justify;
}
.section[data-section="footer"] {
	text-align: center;
}
.section[data-section="footer"] a {
	text-decoration: underline;
}